body{
    margin: 0px;
    padding-top: 250px;
    background-color: rgb(227, 242, 255);
}

ul li a img {
    width: 150px;    
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 6px;
}

ul li dropbtn img {
    width: 150px;   
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.header {
 width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}

.header img {
  display: block;
  width: 1750;
  height: 180px;
  margin-bottom: 10px;
}

ul{
    list-style-type: none;
    margin-top: 180px;
    padding: 0px;
    background-color: rgb(200, 210, 230);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 10px;  
    list-style: none;
    left: 0;
    z-index: 999;
}

li{
    float: none;
    display: inline-block;
}

li a, .dropbtn{
    display: inline-block;
    text-align: center;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn:hover{
    background-color: rgb(241, 222, 124);
    color: black;
}

li.dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(111, 208, 246);
    min-width: 160px;
    box-shadow: 3px 3px 3px rgb(29, 113, 147);
    border-radius: 5px;
    z-index:1 ;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover{
    background-color: rgb(33, 129, 168);
}

.gallery-box {
    background: #e1c091;          
    padding: 25px 30px;
    border-radius: 25px;
    width: 95%;
    max-width: 1400px;
    margin: 20px auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    text-align: center;
}


.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    justify-items: center;
}


.gallery-container img {
    width: 90%;          
    height: 230px;       
    object-fit: cover;
    border-radius: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}


.gallery-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}


.info-wrapper {
    width: 95%;             
    max-width: 1400px;      
    margin: 20px auto;      
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}


 .infobox {
    background: #ffffff;
    padding: 20px 25px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    color: white;
    width: 650px;
 }

.infobox h2 {
    padding: 0;
    margin: 0 0 10px 0; 
    font-size: 45px;   
    font-family: vaseline;
    text-align: center;
    color: #ffffff;
    -webkit-text-stroke: 2px #903eb7;
}



.infobox p {
    font-size: 19px;
    line-height: 1.6;
    font-weight: 500;
    text-align: justify;
    letter-spacing: 0.8px;
    margin-top: 6px;
    font-family: sunday;
    color: #391949;
}

ol.list {
    list-style: none;               
    counter-reset: sdgs;             
    display: grid;
    grid-template-columns: 1fr;      
    gap: 6px;
    margin: 0;
    padding-left: 0;
    font-size: 19px;
    line-height: 1.6;
    font-family: sunday;
    color: #391949;
    text-align: justify;
    letter-spacing: 0.8px;
}

ol.list li {
    counter-increment: sdgs;
    position: relative;
    padding-left: 34px;
    font-size: 19px;
}

ol.list li::before {
    content: counter(sdgs) ".";
    position: absolute;
    left: 0;
    top: 0;
    color: #391949;
    font-weight: 700;
letter-spacing: 0.8px;
}

@font-face {
    font-family: vaseline;
    src: url(Vaseline\ Extra.ttf);
}
@font-face {
    font-family: sunday;
    src: url(Next\ Sunday.otf);
}