body{
    margin: 0px;
    padding-top: 250px;
    background-color: rgb(227, 242, 255);
}

ul li a img {
    width: 150px;    
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 6px;
}

ul li dropbtn img {
    width: 150px;   
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.header {
 width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}

.header img {
  display: block;
  width: 1750;
  height: 180px;
  margin-bottom: 10px;
}

ul{
    list-style-type: none;
    margin-top: 180px;
    padding: 0px;
    background-color: rgb(200, 210, 230);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 10px;  
    list-style: none;
    left: 0;
    z-index: 999;
}

li{
    float: none;
    display: inline-block;
}

li a, .dropbtn{
    display: inline-block;
    text-align: center;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn:hover{
    background-color: rgb(241, 222, 124);
    color: black;
}

li.dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(111, 208, 246);
    min-width: 160px;
    box-shadow: 3px 3px 3px rgb(29, 113, 147);
    border-radius: 5px;
    z-index:1 ;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover{
    background-color: rgb(33, 129, 168);
}

.bigbox {
    width: 95%;
    max-width: 1400px;
    margin: 25px auto;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.bigbox h2 {
    margin: 0 0 10px 0;
    font-size: 45px;
    font-family: vaseline;
    color: #ffffff;
    -webkit-text-stroke: 2px #5bce38;
}

.bigbox p {
    font-size: 17px;
    line-height: 1.6;
    font-weight: 500;
    text-align: justify;
    letter-spacing: 0.8px;
    margin-top: 6px;
    font-family: sunday;
    color: rgb(17, 32, 99);
}

ol.target {
    list-style: none;                
    counter-reset: sdgs;             
    display: grid;
    grid-template-columns: 1fr;     
    gap: 6px;
    margin: 0;
    padding-left: 0;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
    text-align: justify;
    letter-spacing: 0.8px;
    margin-top: 6px;
    font-family: sunday;
    color: rgb(17, 32, 99);
}

ol.target li {
    counter-increment: sdgs;
    position: relative;
    padding-left: 34px;              
}

ol.target li::before {
    content: counter(sdgs) ".";
    position: absolute;
    left: 0;
    top: 0;
    color: #0b3e6f;
    font-weight: 700;
}

@font-face {
    font-family: sunday;
    src: url(Next\ Sunday.otf);
}

@font-face {
    font-family: vaseline;
    src: url(Vaseline\ Extra.ttf);
}